[submodule "mods/extras"]
	path = mods/extras
	url = git@github.com:Minetest-JMA-group/jma-mineclone2-extras
[submodule "mods/shared"]
	path = mods/shared
	url = https://github.com/Minetest-JMA-group/jma-shared.git
[submodule "mods/shared_private"]
	path = mods/shared_private
	url = git@github.com:Minetest-JMA-group/jma-shared-private.git
[submodule "mods/noctf"]
	path = mods/noctf
	url = https://github.com/Minetest-JMA-group/jma-noctf
